<table class="table table-info table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="table table-light" *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td>{{student.address}}</td>
        <td>{{student.phoneNumber}}</td>
        <td><button class="btn btn-danger" (click)="removeStudent(student.id)">Remove</button></td>
        
      </tr>
    </tbody>
  </table>